@model ImageLibrary.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    @Styles.Render("~/Styles")
}
@section scripts {
    @Scripts.Render("~/Scripts")
    @Scripts.Render("~/bundles/jqueryval")
}
<div class="container">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home m-r-5"></i>Home</a></li>
        <li>Login</li>
    </ul>
</div>
<!-- Login page -->
<div class="container">
    <div class="thumb p-60">
        <div id="content">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-md-offset-3">
                    <h3 class="title">Login</h3>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "control-label f-normal" })
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control form-item", placeholder = "Enter your username...." })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                        <div class="form-group m-t-15">
                            @Html.LabelFor(m => m.Password, new { @class = "control-label f-normal" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control form-item", placeholder = "Enter your password...." })
                            @Html.ValidationMessageFor(m => m.Password)
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                        <button type="submit" class="btn ht-btn bg-3 m-t-10">Login</button>
                        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn ht-btn bg-4 m-t-10" })

                    }
                </div>
            </div>
        </div>
    </div>
</div>

<section class="process">
    <div class="container">
        <div class="row m-l-r-5">
            <div class="col-sm-6 col-md-3 p-5">
                <div class="media ht-media">
                    <div class="media-left">
                        <i class="fa fa-cogs color-3"></i>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading color-3">Settings</h5>
                        Registered Users
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 p-5">
                <div class="media ht-media">
                    <div class="media-left">
                        <i class="fa fa-image color-7"></i>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading color-7">Pictures</h5>
                        Manage Images
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 p-5">
                <div class="media ht-media">
                    <div class="media-left">
                        <i class="fa fa-money color-4"></i>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading color-4">Payments</h5>
                        Buyers/Sellers
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 p-5">
                <div class="media ht-media">
                    <div class="media-left">
                        <i class="fa fa-legal color-5"></i>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading color-5">Auctions</h5>
                        Manage Items
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>