@model ImageLibrary.Models.AuctionViewModel
@{
    ViewBag.Title = "Auctions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("~/Styles")
}
@section scripts {
    @Scripts.Render("~/Scripts")
    @Scripts.Render("~/bundles/jqueryval")
}

<div class="container">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home m-r-5"></i>Home</a></li>
        <li>Auctions</li>
    </ul>
</div>
<section class="m-t-0">
    <div class="container">
        <div class="thumb p-30">
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            @Html.ActionLink("Create New Auction", "Create", null, htmlAttributes: new { @class = "btn ht-btn bg-4 m-t-10" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <span style="color: blue"><i class="fa fa-star"></i>Primary Auction</span><br />
                        <span style="color: red"><i class="fa fa-star"></i>Previous Auction</span>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <table class="table table-hover">
                            @foreach (var item in Model.Auctions)
                            {
                                <tr>
                                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", "Auction", new { id = item.Id }, htmlAttributes: new { @class = "btn ht-btn bg-4 m-t-10" })
                                        </td>
                                    }
                                    <td style="vertical-align: middle;">
                                        @if (item.CurrentBanner == true)
                                        {
                                            <span style="color: blue"><i class="fa fa-star"></i></span>
                                        }
                                        @if (item.PreviousBanner == true)
                                        {
                                            <span style="color: red"><i class="fa fa-star"></i></span>
                                        }
                                        @item.Name
                                    </td>
                                    <td style="vertical-align: middle;">
                                        @item.Description
                                    </td>
                                    <td style="text-align: right">
                                        @Html.ActionLink("View Items", "Show", "FileUpload", new { id = item.Id }, htmlAttributes: new { @class = "btn ht-btn bg-4 m-t-10" })
                                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                        {
                                            @Html.ActionLink("Add Items", "Index", "FileUpload", new { id = item.Id }, htmlAttributes: new { @class = "btn ht-btn bg-4 m-t-10" })
                                        }
                                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                        {
                                            @Html.ActionLink("Manage Items", "Edit", "FileUpload", new { id = item.Id }, htmlAttributes: new { @class = "btn ht-btn bg-4 m-t-10" })
                                        }

                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="process">
    <div class="container">
        <div class="row m-l-r-5">
            <div class="col-sm-6 col-md-3 p-5">
                <div class="media ht-media">
                    <div class="media-left">
                        <i class="fa fa-cogs color-3"></i>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading color-3">Settings</h5>
                        Registered Users
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 p-5">
                <div class="media ht-media">
                    <div class="media-left">
                        <i class="fa fa-image color-7"></i>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading color-7">Pictures</h5>
                        Manage Images
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 p-5">
                <div class="media ht-media">
                    <div class="media-left">
                        <i class="fa fa-money color-4"></i>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading color-4">Payments</h5>
                        Buyers/Sellers
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 p-5">
                <div class="media ht-media">
                    <div class="media-left">
                        <i class="fa fa-legal color-5"></i>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading color-5">Auctions</h5>
                        Manage Items
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
